
<div class="container">
  <h1 class="text-center">Our Restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>

    <div class="col-lg-12">
        <div class="card-description">
          <h2><%= link_to restaurant.name, restaurant_path(restaurant)%></h2>
          <p><%= restaurant.address %></p>
        </div>

        <%= link_to "", restaurant_path(restaurant), class: "card-link" %>
      </div>
    </div>
    <% end %>
</div>